In [1]:
import os
import numpy as np
import pandas as pd



import pickle # saving and loading trained model
from os import path

# importing required libraries for normalizing data
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

# importing library for plotting
import matplotlib.pyplot as plt
import seaborn as sn

from sklearn import metrics
from sklearn.metrics import accuracy_score # for calculating accuracy of model
from sklearn.model_selection import train_test_split # for splitting the dataset for training and testing
from sklearn.metrics import classification_report # for generating a classification report of model

from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve, auc

import tensorflow as tf
from tensorflow import keras

import tensorflow  as keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Flatten, Dense, Dropout, Activation
from tensorflow.keras import optimizers
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau

WARNING:tensorflow:From C:\Users\thari\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [18]:
import pandas as pd
import glob

path = r'D:/PhD exp/Datasets/CICIoT2023/CICIoT2023' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, encoding='cp1252', index_col=None, header=0, low_memory=False)
    li.append(df)
    print("Read Completed for ", filename)

df = pd.concat(li, axis=0, ignore_index=True)

df = df.rename(columns={'label': 'Label'})

Read Completed for  D:/PhD exp/Datasets/CICIoT2023/CICIoT2023\CICIOT23_data.csv

In [19]:
df.describe()

,flow_duration,Header_Length,Protocol Type,Duration,Rate,Srate,Drate,fin_flag_number,syn_flag_number,rst_flag_number,...,AVG,Std,Tot size,IAT,Number,Magnitue,Radius,Covariance,Variance,Weight
count,603732.000000,6.037320e+05,603732.000000,603732.000000,6.037320e+05,6.037320e+05,603732.000000,603732.000000,603732.000000,603732.000000,...,603732.000000,603732.000000,603732.000000,6.037320e+05,603732.000000,603732.000000,603732.000000,6.037320e+05,603732.000000,603732.000000
mean,17.934826,5.053862e+05,11.111465,86.800206,6.310693e+03,6.310693e+03,0.000001,0.031102,0.104729,0.033096,...,369.399506,224.371690,369.121801,8.324988e+07,9.498268,21.967644,316.977256,2.860329e+05,0.416852,141.502105
std,72.212477,1.062480e+06,10.923419,42.250137,7.972739e+04,7.972739e+04,0.000551,0.173592,0.306204,0.178887,...,523.333131,450.689290,525.620741,5.503492e+07,2.644507,15.540416,637.695913,1.200954e+06,0.437738,68.104231
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,42.000000,0.000000,42.000000,0.000000e+00,1.000000,9.165151,0.000000,0.000000e+00,0.000000,1.000000
25%,0.000000,5.400000e+01,6.000000,64.000000,6.274772e+00,6.274772e+00,0.000000,0.000000,0.000000,0.000000,...,54.000000,0.000000,54.000000,8.294725e+07,9.500000,10.392305,0.000000,0.000000e+00,0.000000,141.550000
50%,1.107458,1.722500e+04,6.000000,64.000000,3.481496e+01,3.481496e+01,0.000000,0.000000,0.000000,0.000000,...,92.360714,6.152987,87.800000,8.310746e+07,9.500000,13.473638,8.645959,2.614870e+02,0.170000,141.550000
75%,21.194150,5.025817e+05,13.100000,93.500000,9.338014e+01,9.338014e+01,0.000000,0.000000,0.000000,0.000000,...,561.296920,221.869840,562.760000,8.375908e+07,9.500000,33.286634,310.204312,8.619074e+04,0.900000,141.550000
max,33121.128326,9.665361e+06,47.000000,255.000000,8.388608e+06,8.388608e+06,0.309105,1.000000,1.000000,1.000000,...,11600.474325,10996.260915,13098.000000,1.665264e+08,15.000000,145.390447,15551.061321,1.372844e+08,1.000000,244.600000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603732 entries, 0 to 603731
Data columns (total 47 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   flow_duration    603732 non-null  float64
 1   Header_Length    603732 non-null  float64
 2   Protocol Type    603732 non-null  float64
 3   Duration         603732 non-null  float64
 4   Rate             603732 non-null  float64
 5   Srate            603732 non-null  float64
 6   Drate            603732 non-null  float64
 7   fin_flag_number  603732 non-null  float64
 8   syn_flag_number  603732 non-null  float64
 9   rst_flag_number  603732 non-null  float64
 10  psh_flag_number  603732 non-null  float64
 11  ack_flag_number  603732 non-null  float64
 12  ece_flag_number  603732 non-null  float64
 13  cwr_flag_number  603732 non-null  float64
 14  ack_count        603732 non-null  float64
 15  syn_count        603732 non-null  float64
 16  fin_count        603732 non-null  float64
 17  urg_count        603732 non-null  float64
 18  rst_count        603732 non-null  float64
 19  HTTP             603732 non-null  float64
 20  HTTPS            603732 non-null  float64
 21  DNS              603732 non-null  float64
 22  Telnet           603732 non-null  float64
 23  SMTP             603732 non-null  float64
 24  SSH              603732 non-null  float64
 25  IRC              603732 non-null  float64
 26  TCP              603732 non-null  float64
 27  UDP              603732 non-null  float64
 28  DHCP             603732 non-null  float64
 29  ARP              603732 non-null  float64
 30  ICMP             603732 non-null  float64
 31  IPv              603732 non-null  float64
 32  LLC              603732 non-null  float64
 33  Tot sum          603732 non-null  float64
 34  Min              603732 non-null  float64
 35  Max              603732 non-null  float64
 36  AVG              603732 non-null  float64
 37  Std              603732 non-null  float64
 38  Tot size         603732 non-null  float64
 39  IAT              603732 non-null  float64
 40  Number           603732 non-null  float64
 41  Magnitue         603732 non-null  float64
 42  Radius           603732 non-null  float64
 43  Covariance       603732 non-null  float64
 44  Variance         603732 non-null  float64
 45  Weight           603732 non-null  float64
 46  Label            603732 non-null  object
dtypes: float64(46), object(1)
memory usage: 216.5+ MB

In [21]:
df.head()

,flow_duration,Header_Length,Protocol Type,Duration,Rate,Srate,Drate,fin_flag_number,syn_flag_number,rst_flag_number,...,Std,Tot size,IAT,Number,Magnitue,Radius,Covariance,Variance,Weight,Label
0,3.932323,56010.6,6.0,181.2,40.814227,40.814227,0.0,0.0,0.0,0.0,...,103.426250,355.6,5.227709e-03,5.5,13.988340,146.266805,54255.451654,0.2,38.50,Benign
1,0.000000,0.0,1.0,64.0,33.946132,33.946132,0.0,0.0,0.0,0.0,...,0.000000,42.0,8.312905e+07,9.5,9.165151,0.000000,0.000000,0.0,141.55,DDoS
2,0.000000,54.0,6.0,64.0,10.425734,10.425734,0.0,0.0,1.0,0.0,...,0.000000,54.0,8.309348e+07,9.5,10.392305,0.000000,0.000000,0.0,141.55,DDoS
3,45.842260,1073988.1,10.9,92.6,17.147680,17.147680,0.0,0.0,0.0,0.0,...,623.117442,504.5,1.665194e+08,13.5,29.245835,882.679300,391750.271354,1.0,244.60,Benign
4,0.000000,54.0,6.0,64.0,71.123652,71.123652,0.0,0.0,0.0,0.0,...,0.000000,54.0,8.333178e+07,9.5,10.392305,0.000000,0.000000,0.0,141.55,DDoS

In [22]:
df["Label"].value_counts()

Label
Benign    263591
DDoS      160257
DoS       110343
Mirai      69541
Name: count, dtype: int64

In [23]:
# Filter out rows with labels other than 'BENIGN' and 'DDoS'
df = df[df['Label'].isin(['Benign', 'DDoS'])]

# Display the filtered DataFrame
# Display the updated label counts
print(df['Label'].value_counts())

Label
Benign    263591
DDoS      160257
Name: count, dtype: int64

In [24]:
print(df.shape)

(423848, 47)

In [25]:
#drop na values and reset index
data_clean = df.dropna().reset_index()

# Checkng for DUPLICATE values
data_clean.drop_duplicates(keep='first', inplace = True)

data_clean['Label'].value_counts()

print("Read {} rows.".format(len(data_clean)))

Read 423848 rows.

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
# label encoding
labelencoder = LabelEncoder()
data_clean['Label'] = labelencoder.fit_transform(data_clean['Label'])

data_clean['Label'].value_counts()
data = data_clean





# Drop non-numeric columns if necessary
data = data.drop(columns=[ 'index'])  # Adjust column names as needed

# Handle infinities
data.replace([np.inf, -np.inf], np.nan, inplace=True)

# Fill NaNs with column mean
data.fillna(data.mean(), inplace=True)

# Check for any remaining NaNs
print("Remaining NaNs:", data.isna().sum().sum())

data.info()

Remaining NaNs: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423848 entries, 0 to 423847
Data columns (total 47 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   flow_duration    423848 non-null  float64
 1   Header_Length    423848 non-null  float64
 2   Protocol Type    423848 non-null  float64
 3   Duration         423848 non-null  float64
 4   Rate             423848 non-null  float64
 5   Srate            423848 non-null  float64
 6   Drate            423848 non-null  float64
 7   fin_flag_number  423848 non-null  float64
 8   syn_flag_number  423848 non-null  float64
 9   rst_flag_number  423848 non-null  float64
 10  psh_flag_number  423848 non-null  float64
 11  ack_flag_number  423848 non-null  float64
 12  ece_flag_number  423848 non-null  float64
 13  cwr_flag_number  423848 non-null  float64
 14  ack_count        423848 non-null  float64
 15  syn_count        423848 non-null  float64
 16  fin_count        423848 non-null  float64
 17  urg_count        423848 non-null  float64
 18  rst_count        423848 non-null  float64
 19  HTTP             423848 non-null  float64
 20  HTTPS            423848 non-null  float64
 21  DNS              423848 non-null  float64
 22  Telnet           423848 non-null  float64
 23  SMTP             423848 non-null  float64
 24  SSH              423848 non-null  float64
 25  IRC              423848 non-null  float64
 26  TCP              423848 non-null  float64
 27  UDP              423848 non-null  float64
 28  DHCP             423848 non-null  float64
 29  ARP              423848 non-null  float64
 30  ICMP             423848 non-null  float64
 31  IPv              423848 non-null  float64
 32  LLC              423848 non-null  float64
 33  Tot sum          423848 non-null  float64
 34  Min              423848 non-null  float64
 35  Max              423848 non-null  float64
 36  AVG              423848 non-null  float64
 37  Std              423848 non-null  float64
 38  Tot size         423848 non-null  float64
 39  IAT              423848 non-null  float64
 40  Number           423848 non-null  float64
 41  Magnitue         423848 non-null  float64
 42  Radius           423848 non-null  float64
 43  Covariance       423848 non-null  float64
 44  Variance         423848 non-null  float64
 45  Weight           423848 non-null  float64
 46  Label            423848 non-null  int32
dtypes: float64(46), int32(1)
memory usage: 150.4 MB

In [27]:
data.head()

,flow_duration,Header_Length,Protocol Type,Duration,Rate,Srate,Drate,fin_flag_number,syn_flag_number,rst_flag_number,...,Std,Tot size,IAT,Number,Magnitue,Radius,Covariance,Variance,Weight,Label
0,3.932323,56010.6,6.0,181.2,40.814227,40.814227,0.0,0.0,0.0,0.0,...,103.426250,355.6,5.227709e-03,5.5,13.988340,146.266805,54255.451654,0.2,38.50,0
1,0.000000,0.0,1.0,64.0,33.946132,33.946132,0.0,0.0,0.0,0.0,...,0.000000,42.0,8.312905e+07,9.5,9.165151,0.000000,0.000000,0.0,141.55,1
2,0.000000,54.0,6.0,64.0,10.425734,10.425734,0.0,0.0,1.0,0.0,...,0.000000,54.0,8.309348e+07,9.5,10.392305,0.000000,0.000000,0.0,141.55,1
3,45.842260,1073988.1,10.9,92.6,17.147680,17.147680,0.0,0.0,0.0,0.0,...,623.117442,504.5,1.665194e+08,13.5,29.245835,882.679300,391750.271354,1.0,244.60,0
4,0.000000,54.0,6.0,64.0,71.123652,71.123652,0.0,0.0,0.0,0.0,...,0.000000,54.0,8.333178e+07,9.5,10.392305,0.000000,0.000000,0.0,141.55,1

In [28]:
from sklearn.ensemble import ExtraTreesClassifier
print("ETC")
dt = ExtraTreesClassifier(n_estimators=300, random_state=5, max_depth=30)

yy =  data['Label'].values
XX =data.drop(columns=['Label'])


# Training the model
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel


dt.fit(XX,yy)
# Get the feature importances
feature_importances = dt.feature_importances_

# Create a DataFrame with feature names and importances
df_feature_importances = pd.DataFrame({'Feature': XX.columns, 'Importance': feature_importances})

# Sort the DataFrame by importance in descending order
df_feature_importances = df_feature_importances.sort_values(by='Importance', ascending=False)

# Extract the top 30 important features
selected_features = df_feature_importances.head(30)['Feature'].tolist()

ETC

In [29]:
selected_features.append('Label')
selected_features

['Variance',
 'ack_flag_number',
 'IAT',
 'HTTPS',
 'Weight',
 'Number',
 'Duration',
 'Magnitue',
 'syn_flag_number',
 'ICMP',
 'psh_flag_number',
 'Protocol Type',
 'rst_count',
 'Std',
 'Header_Length',
 'Max',
 'Radius',
 'TCP',
 'Tot size',
 'Tot sum',
 'rst_flag_number',
 'urg_count',
 'fin_flag_number',
 'AVG',
 'Min',
 'syn_count',
 'UDP',
 'ack_count',
 'Covariance',
 'HTTP',
 'Label']

In [30]:
# Create a new DataFrame with the selected features
data = data[selected_features]

In [31]:
data.head()

,Variance,ack_flag_number,IAT,HTTPS,Weight,Number,Duration,Magnitue,syn_flag_number,ICMP,...,urg_count,fin_flag_number,AVG,Min,syn_count,UDP,ack_count,Covariance,HTTP,Label
0,0.2,1.0,5.227709e-03,1.0,38.50,5.5,181.2,13.988340,0.0,0.0,...,33.8,0.0,111.048889,66.0,1.8,0.0,0.0,54255.451654,0.0,0
1,0.0,0.0,8.312905e+07,0.0,141.55,9.5,64.0,9.165151,0.0,1.0,...,0.0,0.0,42.000000,42.0,0.0,0.0,0.0,0.000000,0.0,1
2,0.0,0.0,8.309348e+07,0.0,141.55,9.5,64.0,10.392305,1.0,0.0,...,0.0,0.0,54.000000,54.0,1.0,0.0,0.0,0.000000,0.0,1
3,1.0,0.0,1.665194e+08,0.0,244.60,13.5,92.6,29.245835,0.0,0.0,...,147.9,0.0,427.153581,60.0,0.0,0.0,0.0,391750.271354,0.0,0
4,0.0,1.0,8.333178e+07,0.0,141.55,9.5,64.0,10.392305,0.0,0.0,...,1.0,0.0,54.000000,54.0,0.0,0.0,0.0,0.000000,0.0,1

In [32]:
data_ciciot23 = data
# Display the shape of the random sample
print(data_ciciot23.shape)

(423848, 31)

In [33]:
print(data_ciciot23['Label'].value_counts())

Label
0    263591
1    160257
Name: count, dtype: int64

In [34]:
#save cleaned data sample to csv
data_ciciot23.to_csv('cleansample_ciciot23.csv', index=False)